.title1{
margin-top: 10pt; margin-bottom: 6pt;
font-size: 20pt; font-weight: 1000;
}
.title2{
margin-top: 10pt; margin-bottom: 6pt;
font-size: 16pt; font-weight: 800;
}
.title3{
margin-top: 14pt; margin-bottom: 6pt;
}
.text1{
font-family: verdana,arial,helvetica,sans-serif; color: #000000;
font-size: 11pt; font-weight: 700;
}
.text2{
font-family: verdana,arial,helvetica,sans-serif; color: #000000;
font-size: 10pt; font-weight: 700;
}
